# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
.env/
.env.bak/

# macOS
.DS_Store

# VSCode
.vscode/
